.card {
    width: 48%;
    height: 270px;
    border-radius: 4px;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.card__profile {
    width: 270px;
    min-width: 270px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding:0;
    box-sizing: border-box;
    font-size: 14px;
}

.card__profile img {
    width: 100%;
}

.profile__detail {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
}

.profile__detail p {
  margin-bottom: 5px !important;
}

.card__skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card__skill {
  text-align: center;
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #FBB017;
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

@media screen and (max-width: 567px) {
   .card {
     width: 100%;
   }
}
