.active-custom.active {
  font-weight: bold;
  background-color: #f5f5f5;
}

.background-purple-white {
  background: linear-gradient(
    to bottom,
    rgba(94, 80, 161, 1) 0%,
    rgba(94, 80, 161, 1) 15%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
}

.icons {
  width: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .background-purple-white {
    background: linear-gradient(
      to bottom,
      rgba(94, 80, 161, 1) 0%,
      rgba(94, 80, 161, 1) 15%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
