.container-auth-signup-company {
  background-color: #e5e5e5;
  height: 115vh;
  overflow: hidden;
}

@media (max-width: 576px) {
  .container-auth-signup-company {
    height: 120vh;
  }
  .bg-image {
    display: none;
  }

  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
}
