.row-auth {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-auth {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: hidden;
}

.hire-image {
  height: 100vh;
}
.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}

.bg-image .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #5e50a1;
  opacity: 0.7;
}

.text {
  position: absolute;
  width: 456px;
  height: 280px;
  left: 100px;
  top: 280px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 70px;
  background-color: none;

  color: #ffffff;
  margin: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.container-auth-right {
  margin-top: -200px;
  padding-bottom: 45px;
}
.short-text {
  display: none;
}
.container-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  color: #1f2a36;
}

.text-container {
  width: 570px;
  height: 50px;
  left: 795px;
  top: 205px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #46505c;
}

.auth-form-text {
  height: 16px;
  left: 800px;
  top: 307px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #9ea0a5;
}
.asdfg {
  width: 100% !important;
}
.auth-form input {
  box-sizing: border-box;
  /* width: 570px; */
  height: 50px;
  background: #ffffff;
  border: 1px solid #e2e5ed;
  border-radius: 4px;
}

.in-button {
  width: 570px;
  height: 50px;

  margin-top: 35px;
  margin-bottom: 35px;

  background: #fbb017;
  border-radius: 4px;
  color: white;
}
.account-check {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1f2a36;
}
.account-check a {
  text-decoration: none;
  color: #fbb017;
}
.change-password {
  background: #ffffff;
  width: 600px;
  height: 707px;

  border-radius: 20px;
}
.logo-image {
  background-color: white;
}

.peworldpurple {
  width: 179px;
  height: 49.51px;
  background-color: white;
}
.request {
  background-color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;

  color: #253757;
}
.lock {
  margin-top: 50px;
  background-color: white;
}
.lockpurple {
  background-color: white;
}
.change-button-password {
  width: 204px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 50px;

  background: #fbb017;
  border-radius: 4px;
  color: white;
}
@media (max-width: 870px) {
  .row-auth {
    flex-direction: row;
    height: 80vh;
    margin-right: 65%;
  }
  .bg-image {
    display: none;
  }

  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .row-auth {
    flex-direction: row;
    height: 80vh;
    max-width: 20px;
  }
  .asdf {
    padding: 20px;
    background-color: red;
  }
  .bg-image {
    display: none;
  }

  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
  /* .auth-form-text {
    margin-left: 20px;
  }
  .auth-form input {
    max-width: 80%;
    margin-left: 20px;
  }
  .in-button {
    max-width: 50%;
    margin-left: 100px;
  }
  .account-check {
    max-width: 50%;
    margin-left: 100px;
  } */
}
