@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #46505c;
}

.button {
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.button_small {
  font-size: 14px;
  padding: 10px 20px;
}

.button_base {
  font-size: 16px;
  padding: 15px 0px;
}

.button_medium {
  font-size: 16px;
  padding: 21px 24px;
}

.button_save {
  font-size: 14px;
  color: white;
  background-color: #fbb017;
  padding: 13px 13px;
  width: fit-content;
  border-radius: 4px;
  border: none;
  margin-left: auto;
}

.button-list-skill {
  font-size: 12px;
  width: 125px;
  height: 28px;
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  padding-right: 10px;
  padding-left: 10px;
}

.background-purple {
  background-color: #5e50a1;
}

.pl-120px {
  padding-left: 120px;
}

.color-purple {
  color: #5e50a1;
}

.color-yellow {
  color: #fbb017;
}

.color-bold {
  color: #1f2a36;
}

.color-gray {
  color: #9ea0a5;
}

.border-purple {
  border-width: 1px;
  border-style: solid;
  border-color: #5e50a1;
}

.border-yellow {
  border-width: 1px;
  border-style: solid;
  border-color: #fbb017;
}

.fs-44px {
  font-size: 44px;
}

.fs-18px {
  font-size: 18px;
}

.card-opinion {
  box-shadow: 0px 8px 16px rgba(197, 197, 197, 0.25);
  width: 339px;
  height: 437px;
  text-align: center;
  padding-top: 26px;
}

.img-card {
  width: 120px;
  height: 120px;
  outline: 10px solid rgba(251, 176, 23, 0.37);
}

.last-section {
  /* width: 1140px; */
  height: 227px;
  border-radius: 40px 8px;
  background-image: url("assets/img/bg-wave.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input_style > label {
  color: #9ea0a5;
  font-size: 12px;
  margin-bottom: 5px;
}

.input_style > input {
  height: 50px;
}

.input_style > input,
textarea {
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  padding: 15px;
}

.input_style > input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: #858d96;
}

footer {
  height: 401px;
}
